
.ButtonMenuModules {
    min-width: 15vh;
    max-width: 15vh;
    max-height: 10vh;
    min-height: 5vh;
    border-radius: 1vh;
    margin: 1vh;
    background-color: #3B3B3B;
}
.ButtonMenuExit {
    min-width: 15vh;
    max-width: 15vh;
    max-height: 10vh;
    min-height: 5vh;
    border-radius: 1vh;
    margin: 1vh;
    background-color: #3B3B3B;
}

.ButtonMenuExit:hover {
    background-color: brown;
}


.ButtonMenuModules:hover {
    background-color: seagreen;
}