.pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    min-width: 50vh;
}

@media (max-width: 1500px) {
    .pets {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 950px) {
    .pets {
        grid-template-columns: 1fr;
    }
}

.PetBut {
    margin-top: 4vh;
    min-width: 7vh;
    max-height: 7vh;
    min-height: 7vh;
}

.PetBut:hover {
    background-color: black;
    color: seagreen;
}