.PrivateCabinet {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.PrivateUserAvatar {
    max-width: 40vh;
    min-width: 20vh;
    border-radius: 5vh;
}

.PrivateUserAvatarBut {
    max-width: 40vh;
    min-width: 20vh;
    border-radius: 5vh;
}

.PrivateUserAvatarBut:hover {
    background-color: seagreen;
}

.infoContainerPrivateCab {
    margin-top: 2vh;
    margin-right: auto;
    margin-left: 2vh;
    border-bottom: 1px solid #1a1a1a;
    border-top: 0.5px solid #1a1a1a ;
    border-radius: 1vh;
}

.UserVoteList {
    display: flex;
    padding-left: 4vh;
    margin-top: 1.5vh;
    min-width: 60vh;
    max-width: 150vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: 1vh;
    border-left: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    border-radius: 1vh;
}

.ChangeButtonVotes {
    text-align: center;
    min-width: 15vh;
    max-width: 15vh;
    max-height: 10vh;
    min-height: 5vh;
    border-radius: 0vh;
    margin: 1vh;
    background-color: #3B3B3B;
}

.ChangeButtonVotes:hover {
    background-color: seagreen;
}


.ChangeButtonPetitions {
    text-align: center;
    min-width: 15vh;
    max-width: 15vh;
    max-height: 10vh;
    min-height: 5vh;
    border-radius: 0vh;
    margin: 1vh;
    background-color: #3B3B3B;
}

.ChangeButtonPetitions:hover {
    background-color: rgb(24, 107, 180);
}

.ChangeVoteTypeButtons {
    display: flex;
    margin-right: auto;
}
