#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.VotePage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1fr 1fr 1fr;
  margin: 1vh;
  min-width: 20vh;
  max-width: 100%;
  max-height: none;
}

.Alert {
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
}

.changeBut {
  margin-left: 10vh;
}

